.cards {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.card {
  flex-grow: 0.15;
}
.cardHeader {
  background-color: skyblue;
  font-family: 'Times New Roman', Times, serif;
  color: azure;
}

.cardHeader:hover {
  background-color: brown;
}

.card_content:hover ~ .cardHeader{
  background-color: brown;
}

.left_icon {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.left_icon_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.icon_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.link{
  
  font-size: 5cm;
}

