.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.card {
  width: 8cm;
  position: relative;
}
.cardHeader {
  background-color: skyblue;
  font-family: 'Times New Roman', Times, serif;
  color: azure;
}

.card_content{
  align-items: stretch;
}
.cardHeader:hover {
  background-color: brown;
}

.card_content:hover ~ .cardHeader{
  background-color: brown;
}

.left_icon {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-between;
  width: 4cm;
}

.left_icon_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.rigth_icon_container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: .8cm;
}

.icon_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bottom_link{
  position: absolute;
  bottom: 0;
  font-size: 5cm;
  height: .7cm;
}

.keyword{
  font-size: 0.2cm;
}

.bell{
  color: red;
}